<div class="container-fluid vh-100 w-100 m-0 p-0 position-relative bg-dark">
  <div class="black-layer h-100">
    <div class="container-fluid py-2 pt-5">
      <div class="row">
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <a routerLink="/" class="text-decoration-none">
            <h1>
              <span class="text-green-3 fw-4 fs-1">FooD </span>
              <span class="text-yellow fw-4 fs-2"> oNLinE </span>
            </h1>
          </a>
        </div>

      </div>
    </div>
    
    <div class="d-flex flex-column align-items-center mt-5 pt-5 ">
      <h2 class="text-yellow fs-4 fw-5 pt-5 x">
        We have many delicious recipes
      </h2>
      <h3 class="text-green-3 fs-4 fw-5 mt-2 x2">And many kinds of delicious meals</h3>
      <h3 class="text-yellow mt-2 x2">WE HAVE </h3>
      <div class="d-flex justify-content-evenly w-50">
        <p  class="text-green-3 fs-4 x">Bread</p>
        <p  class="text-green-3 fs-4 x">Soup</p>
        <p  class="text-green-3 fs-4 x">Drinks</p>
        <p  class="text-green-3 fs-4 x">Snack</p>
      </div>
    </div>
  </div>
    <video src="../../../../assets/images/cooking.mp4" loop autoplay muted class=" h-100 w-100 m-0 "></video>
</div>