<div class="container vh-100 w-50 d-flex justify-content-center align-items-center ">
    <div class="row py-5 justify-content-center align-items-center rounded-3 shadow-lg bg-white  translate-animated">
        <div class="col-12 translate-animated ">
            <h5 class="text-center text-green-3">Register Now :)</h5>
        </div>
        <div class="alert alert-danger alert-dismissible fade show w-75" role="alert" [hidden]="hidden" >
          <strong>{{errorMessage}}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)" class="d-flex  flex-column align-items-center">
          <div class="col-10  mt-2">
            <small class="text-muted  mb-0 fs-6">enter only and at least 3 character </small>
            <input type="text" placeholder="First Name" class="text-muted form-control  rounded-4 py-3 "
              formControlName="first_name" (blur)="validation('first_name' ,registerForm)" (keypress)="alertHide()">
           
             
          </div>

          <div class="col-10  mt-2 translate-animated ">
            <small class="text-muted  mb-0 fs-6">enter only and at least 3 character </small>
            <input type="text" placeholder="Last Name" class="text-muted form-control rounded-4 py-3"
              formControlName="last_name" (blur)="validation('last_name' ,registerForm)">

          </div>

          <div class="col-10  mt-2 ">
            <input type="email" placeholder="Email" class="text-muted form-control rounded-4 py-3" formControlName="email"
            (blur)="validation('email' ,registerForm)" (keypress)="alertHide()">
          </div>

          <div class="col-10  mt-2 translate-animated ">
            <small class="text-muted  mb-0 fs-6">enter numbers and characters only and at least 6 </small>
            <input type="password" placeholder="Password" class="text-muted form-control rounded-4 py-3"
              formControlName="password" (blur)="validation('password' ,registerForm)" (keypress)="alertHide()">
          </div>
        
          <div class="col-10 mt-2 ">
            <button type="submit" class="btn bg-yellow w-100 rounded-4 py-3 text-green-3" [disabled]="registerForm.invalid">Register</button>
          </div>
        </form>
      
         <div class="col-12 translate-animated">
            <a  class="text-center text-green-3 text-decoration-none d-inline-block w-100 p-2" routerLink="/login">I have an account</a>
        </div>
     </div>
</div>


<div class="layer"></div>